

/* navigation-bar-design */
.navigation_logo{
    font-size: 34px;
    color: #4E47FF;
    font-family: "Inter", sans-serif;
}
.navigation_button{
    padding:  12px 36px;
    border-radius: 8px;
    background-color: #4E47FF;
    color: white;
    font-size: 16px;
    font-weight: bold;
    font-family: "Raleway", sans-serif;
    border: none;
    height: 50px;
    width: 150px;

}
.banner-navigationbar{
    display: flex;
    justify-content: space-between;
    margin: 0px 150px;
    align-items: center;
}
 
/* banner box content */

.banner-box{
    width: 1440px;
    height: 698px;
    margin: 0px auto;
    background-image: url(images/Hero-bg.png);

}
.banner_box_content{
    text-align: center;
    margin-top: 158px;
}
.banner-head{
    font-family: "Raleway", sans-serif;
    font-size: 65px;
    
}
.banner-btn{
    padding: 12px 36px;
    font-weight: bold;
    background-color: #4E47FF;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-family: "Raleway", sans-serif;
}

.primary-btn:hover{
    background-color: rgb(234, 236, 226);
    cursor: pointer;
    color: black;
    transform: scale(1.05);
    
}
.primary-btn{
   transition: transform 0.2s ease;
}





/* action section desigm */


.action_section{
    height: 340px;
    width: 1140px;
    margin: 116px auto ;
    
}

.action_section_content{
    display: flex;
    justify-content: space-between;
}
.ac_section_head{
    font-size: 42px;
    font-weight: bold;
    font-family: "Raleway", sans-serif;

 }
 .ac_section_pera{
    font-size: 24px;
    font-family: "Raleway", sans-serif;

 }
 .ac_section_btn{
    font-size: 16px;
    padding: 12px 36px;
    font-weight: bold;
    color: white;
    background-color: #4E47FF;
    font-family: "Raleway", sans-serif;
    border-radius: 10px;
    border: none;
 }
 .ac_section_image{
    border-radius: 50px;
 }



 /* productive user section */


.productive_user_section{
    height: 306px;
    width: 1140px;
    margin: 116px auto;
    background-color: rgba(78, 71, 255, 0.1);
    border-radius: 20px;
}
.productive_user_content{   
     text-align: center;
     position: relative;
     padding: 10px;
    }

    
.productive_user_section_head{
    
    font-size: 38px;
    font-weight: bold;
    font-family: "Raleway", sans-serif;
    margin: 10px;
    
 

}


.user-number{
    display: flex;
    gap: 159px;
    justify-content: center;
}






 .usernumber_head{
    font-size: 80px;
    font-weight: bold;
    color: #4E47FF;
    font-family: "Inter", sans-serif;
    margin-bottom: 0px;

 }
 .usernumber_pera{
     font-size: 20px;
     font-family: "Inter", sans-serif;
     color:#777777;

     

 }




 /* review section */

 .reviews_of_client{
    height: 210px;
    width: 330px;
    border: 2px solid #F2EDED;
    padding: 24px;
    border-radius: 20px;
 }
 .clientinformation{
    display: flex;
    gap: 7px;
    position: relative;
    align-items: center;
    
 }
 .client_img{
    height: 50px;
    width: 50px;
    border-radius: 100px;
   
    
 }
 .clientname_head{
    margin-bottom: 0px;
    padding: 0px;
 }
 
.review_head{
    margin-bottom: 0px;
}
.review_content{
    display: flex;
    gap: 15px;
}
.review_section{
    height: 342px;
    width: 1140px;
    margin: 116px auto ;
   
}
.review_section_head{
    font-size: 42px;
    font-family: "Raleway", sans-serif;

}

 /* focus section */
 


 .focus_section{

    height: 620px;
    width: 1140px;
    margin: 116px auto;
    text-align: center;
    background-color: whitesmoke;
    position: relative;
    padding: 71px;


 }





.focus_section_head{

    font-size: 50px;
    font-weight: bold;
    font-family: "Raleway", sans-serif;
    

}
.focus_section_pera{

   color: #a09f9f;
   

}
.focus_section_btn{

   padding: 12px 36px;
   background-color: #4E47FF;
   font-weight: 600;
   font-size: 16px;
   color: white;
   font-family: "Raleway", sans-serif;
   border: none;
   border-radius: 10px;



}
.focus_section_content{

    
}
.focus_section_image{

    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 365px;
    width: 840px;
    border-radius: 50px;
    margin-bottom: 50px;
}
 




/* newsletter section */
.newsletter_section{
    width: 1140px;
    height: 630px;
    margin: 116px auto;


}

.newslettr_content{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.form_content{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.newsletter_content_head{

    font-size: 97px;
    font-weight: bold;
    font-family: "Raleway", sans-serif;

}

#email{
    padding: 20px 271px 20px 32px;
    border-radius: 15px;
    border: 1px solid rgb(238, 238, 238);
}
#name{
    padding: 20px 271px 20px 32px;
    border-radius: 15px;
    border: 1px solid rgb(238, 238, 238);
}
#message{
    border: 1px solid rgb(238, 238, 238);
}

.form_btn{
    padding: 19px 40px;
    font-weight: bold;
    font-size: 16px;
    color: white;
    font-family: "Raleway", sans-serif;
    background-color: #4E47FF;
    border-radius: 14px;
    margin: 10px;
}





/* footer-section */

.footer_section{
    width: 1440px;
    height: 428px;
    margin: 116px auto;
    border-top: 1px solid rgba(197, 197, 197, 0.479);
 
    
}



.footer_head{
    font-size: 100px;
    font-weight: bold;
    color: #4E47FF;
    font-family: "Inter", sans-serif;
    margin-bottom: 2px;

}
.footer_pera{
    color: #8987A1;
    
}

.footer_link{
    text-decoration: none;
    margin-right: 40px;
     color: #8987A1;
    font-size: 30px;
    
}
.footer_content{
    text-align: center;
}

.footer_link:hover{
    color: black;
}
 




/* ------------------ The end--------------------- */